<!DOCTYPE html>
<html>
    <head>
        <title>Название</title>
        <meta charset="utf-8">
    </head>
    <body>

    <p style="text-align:right"><button type="button" name="button_glavnaia">на главную</button></p>

    <h1 style="text-align:center">Заявление на получение</h1>
    <p style="text-align:center"><a href="#text">Инструкция по заполнению</a></p>
    <form>
        <p style="text-align:center"><label for="name">Введите имя</label></p>
        <p style="text-align:center"><input size="100px" type="text" name="input_1" id="name" placeholder="Введите имя" required></p>
<!--        <p style="text-align:center"><button type="reset">сбросить данные</button></p>-->

        <p style="text-align:center"><label for="name2">Введите фамилию</label></p>
        <p style="text-align:center"><input size="100px" type="text" name="input_2" id="name2" placeholder="Введите фамилию" required></p>

        <p style="text-align:center"><label for="name3">Введите свою почту</label></p>
        <p style="text-align:center"><input size="100px" type="email" name="input_2" id="name3" placeholder="Введите свою электроную почту"></p>

        <p style="text-align:center"><label for="name4">Заявление</label></p>
        <p style="text-align:center"><textarea id="name4" placeholder="Текст" cols="100" rows="30"></textarea></p>
        <p style="text-align:center"><button type="reset" name="button_1">очистить все</button> <button type="submit" name="button">Отправить</button></p>
    </form>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <ul id="text">Уважаемые пользователи! Для того, чтобы мы смогли получить заявку, необходимо заполнить следущие поля:
        <li>
            Заполнить поле <a href="#name">Введите Имя</a> это поле является <u>обязательным</u> для заполнения заявления.
        </li>
        <br>
        <li>
            Заполнить поле <a href="#name2">Введите Фамилию</a> это поле тоже является <u>обязательным</u> для заполнения заявления.
        </li>
        <br>
        <li>
            Заполнить поле <a href="#name3">Введите свою почту</a> это поле является <u>не обязательным</u> для заполнения заявления но было бы полезно его заполнить чтобы мы могли связаться с вами.
        </li>
    </ul>
    </body>
</html>