<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Главная страница</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <!--      <marquee>-->
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm#F">
                <h1><a class="p-2 text-dark" href="http://127.0.0.1:5000"><font style="text-decoration: none;"><font
                        style="vertical-align: inherit;">Главная</font></font></a></h1>
                <a class="btn btn-outline-primary" href="http://127.0.0.1:5000/registration_user"
                   style="margin-left: 350px;"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Зарегистрироваться</font></font></a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-outline-primary" href="http://127.0.0.1:5000/registration_admin"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Регистрация для администраторов</font></font></a>&nbsp;&nbsp;
                <button><a href="http://127.0.0.1:5000/registration_user">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" color="blue" fill="currentColor" class="bi bi-person"
                     viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                </svg></a>
                </button>

            </div>
        </div>
    </div>
</div>
<marquee scrolldelay="100" truespeed><a href="http://127.0.0.1:5000/registration_user" class="button-like">
    <button>Каталог</button>
</a>&nbsp&nbsp&nbsp;<button type="button" class="btn btn-outline-dark">Button</button>
</marquee>
<br>
{% block content %}{% endblock %}
<input type="color">
</body>
</html>