{% extends 'base.html' %}

{% block main_1 %}
<form>
    {% for i in inventory %}
    <div style="float: left; margin: 10px">
        <div class="card" style="width: 18rem; height: 25rem">
            <img src="https://cdn.culture.ru/images/0f698765-1077-5fa2-93c4-aa6c5f5f54bd" class="card-img-top"
                 alt="картинка не загрузилась">
            <div class="card-body">
                <h5 class="card-title">Наименование: {{ i.name }}</h5>
                <h6 class="card-text">Количество: {{ i.count }}</h6>
                <h6 class="card-text">Состояние: {{ i.product_status }}</h6>
            </div>
        </div>
    </div>
    {% endfor %}
</form>

{% endblock %}
